# Aufgabe 2 - Restaurant Bestelltool

In [102]:
# Importe
import ipywidgets as w
import pandas as pd
from datetime import datetime

### Speisekarte

In [117]:
# Funktion zum Laden von Speisekarte
def speisekarte_laden():
    """
    Lädt die Speisekarte aus einer CSV-Datei.

    Args:
        Name der CSV-Datei, die die Speisekarte enthält.

    Returns:
        pandas.DataFrame: Ein DataFrame, das die Speisekarte enthält, 
        wobei die Speisen-Nummer der Zeilen-Index ist.
        None: Wenn die Datei nicht gefunden wird.
    """
    
    try:
        speisekarte = pd.read_csv("Speisekarte.csv", 
                                  sep=";", 
                                  index_col="Speise_ID",
                                  decimal=",")
        return speisekarte
    
    except FileNotFoundError:
        print("Die Datei 'Speisekarte.csv' wurde nicht gefunden.")
        return None
    
# Beispiel: Speisekarte laden
speisekarte = speisekarte_laden()

In [104]:
# Funktion zum Anzeigen der Speisekarte
def speisekarte_zeigen(speisekarte):
    """
    Zeigt die geladene Speisekarte an.

    Args:
        speisekarte (pandas.DataFrame): Ein DataFrame, das die Speisekarte enthält.

    Returns:
        None
    """
    
    if speisekarte is not None:
        return speisekarte
    else:
        print("Speisekarte konnte nicht geladen werden.")

# Beispiel: Speisekarte anzeigen
speisekarte_zeigen(speisekarte)

,Gericht,Beschreibung,Info,Preis,kcal,Kategorie
Speise_ID,,,,,,
100,BBQ Blumenkohlflügel,"Knusprige Blumenkohlröschen, umhüllt von einem...",Vegan,"4,79 €",276,Vorspeise
101,Suppe des Tages,Wärmende Suppe mit gehacktem Schnittlauch best...,Vegan,"4,29 €",350,Vorspeise
102,Mozzarella & Cheddar Bites,"Frischkäse, Mozzarella & Cheddar-Käse beißen i...",Vegetraisch,"4,79 €",413,Vorspeise
103,Garnelen-Cocktail,"Saftige Garnelen mit Marie-Rose-Sauce, servier...",Vegetarisch,"4,79 €",530,Vorspeise
104,Knusprige Streifen nach Hühnchenart,"Köstliche vegane Tender nach Hühnchenart, betr...",Vegan,"4,79 €",611,Vorspeise
105,Hähnchen-Flügel,Eine Portion marinierter Hähnchenflügel zum Te...,Normal,"7,99 €",1343,Vorspeise
200,Rindfleisch-Lasagne,Reichhaltiges Rindfleischragú mit Nudeln und e...,Normal,"9,79 €",778,Hauptgericht
201,Handgebackene Fish & Chips,Großes Fischfilet im eigenen Haus mit unserem ...,Normal,"11,29 €",1449,Hauptgericht
202,Ganze Schwänze von panierten Scampi,"12 saftige ganze Schwänze von Whitby-Scampi, s...",Normal,"9,79 €",1120,Hauptgericht
203,"Cheddar, Lauch & Kartoffelkuchen","Eine reichhaltige, reife Cheddar-Käsesauce mit...",Vegan,"10,29 €",1364,Hauptgericht
204,Gemüse-Curry nach thailändischer Art,Ein wärmendes Gemüse-Curry nach thailändischer...,Vegan,"9,79 €",614,Hauptgericht
205,Steak & Ale Pie,Unser klassischer Steak & Ale Pie. Ein Mürbete...,Normal,"11,29 €",1332,Hauptgericht
300,Sherry Trifle Käsekuchen,Weicher Vanillebiskuit mit Himbeersauce und Kä...,Vegan,"4,99 €",451,Dessert
301,Rocky Road Eisbecher,"Eis mit Schokoladen- und Vanillegeschmack, ges...",Vegan,"4,99 €",96,Dessert
302,Banoffee Schokoladen-Tarte,"Eine reichhaltige, dunkle Schokoladentorte mit...",Vegan,"4,99 €",519,Dessert
303,Apfel-Crumble,"Stückige Apfelscheiben, gekocht mit dunklem Zu...",Vegan,"4,99 €",635,Dessert
304,Klebriger Toffee-Pudding,"Ein weicher und süßer Toffee-Biskuit, der mit ...",Vegan,"4,99 €",519,Dessert
305,Marmelade Biskuitpudding,"Ein weicher Vanillebiskuitpudding, der in süße...",Vegan,"4,99 €",526,Dessert
400,APEROL - SPRITZ,Der Aperol Spritz ist ein wunderbar leichter A...,Normal,"9,49 €",360,Getränke
401,MARTINI BIANCO,Der Martini ist ein klassischer Cocktail. Als ...,Normal,"8,29 €",125,Getränke
402,WEIZENBIER,"Weizenbier ist ein obergäriges Bier, das mit e...",Normal,"5,99 €",43,Getränke
403,Mineralswasser,"Als Mineralwasser wird natürliches, aus einer ...",Vegan,"2,99 €",0,Getränke
404,Kaffee,Als Kaffee bezeichnet man ein koffeinhaltiges ...,Normal,"2,99 €",0,Getränke
404,Cappuccino,Cappuccino ist ein italienisches Kaffeegetränk...,Normal,"2,99 €",84,Getränke
405,Espresso,Espresso ist eine aus Mailand stammende Kaff...,Vegan,"3,99 €",9,Getränke
406,Affogato al Caffe,Affrogato al Caffe ist ein Dessert der italien...,Normal,"4,99 €",75,Getränke
407,Sauvignon blanc,Sauvignon Blanc ist eine Weißweinsorte mit wel...,Vegan,"8,99 €",121,Getränke
408,Coca Cola,The Coca-Cola Company ist ein US-amerikanische...,Normal,"2,99 €",180,Getränke

### Bestellungen

- ID
- Datum
- Tischnummer
- SpeiseID
- Menge
- Status

In [105]:
# DATAFRAME FÜR ALLE BESTELLUNGEN
# Jede Einzelbestellung soll in neuer BestellID als Liste abgespeichert und dem 
# DataFrame "bestellungen_df" hinzufügt werden

bestellungen_df = pd.DataFrame(columns=["BestellID", "Datum", "Tischnummer", "SpeiseID", "Menge", "Status"])

In [106]:
# FUNKTION NEUE BESTELLUNG
# Eingabe: SpeiseID, Menge, Tischnummer, Bestellstatus(offen)
# Funktion generiert Liste der eingebenen Bestellung 
# soll einzelne Bestellung in automatisch generierter BestellID abspeichern

# FUNKTION ZUR ERSTELLUNG EINER NEUEN BESTELLUNG
def neue_bestellung(tischnummer, speise_mengen, bestellungen_df, status="offen"):
    """
    Erstellt neue Bestellungen und fügt sie dem DataFrame hinzu.

    Args:
        tischnummer (int): Die Tischnummer (DropDown).
        speise_mengen (dict): Ein Dictionary mit SpeiseID als Schlüssel und Menge als Wert.
        bestellungen_df (pandas.DataFrame): Das DataFrame mit allen Bestellungen.
        bestellstatus (str): Der Status der Bestellung.

    Returns:
        pandas.DataFrame: Das aktualisierte DataFrame mit allen Bestellungen.
    """
    # neue leere Liste
    neue_bestellungen = []

    # for-Schleife 
    for speise_id, menge in speise_mengen.items():
        bestellung_id = len(bestellungen_df) + 1
        datum = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        neue_bestellungen.append([bestellung_id, 
                                  datum, tischnummer, 
                                  speise_id, menge, 
                                  status])

    # Bestellung als neues DataFrame ablegen und "bestellungen_df" hinzufügen
    neue_bestellungen_df = pd.DataFrame(neue_bestellungen, 
                                        columns=bestellungen_df.columns)
    bestellungen_df = pd.concat([bestellungen_df, neue_bestellungen_df], 
                                ignore_index=True)
    
    return bestellungen_df

# WIDGETS ERSTELLEN
tischnummer_widget = w.Dropdown(options=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
                                value=1,
                                description="Tischnummer")

bestellstatus_widget = w.Dropdown(options=["offen", "bezahlt", "storno"],
                                  value="offen", 
                                  description="Bestellstatus")

# Funktion zum Hinzufügen von SpeiseID und Menge per Dropdowns
speise_widgets = []
menge_widgets = []

def add_speise_widget():
    speise_id_widget = w.Dropdown(value=100, 
                                  options=[100, 101, 102, 103, 104, 105, 
                                           200, 201, 202, 203, 204, 205,
                                           300, 301, 302, 303, 304, 305, 
                                           400, 401, 402, 403, 404, 405, 406, 407, 408, 409],
                                  description='SpeiseID:')
    menge_widget = w.IntText(value=1, description="Menge:", min=1)
    speise_widgets.append(speise_id_widget)
    menge_widgets.append(menge_widget)
    display(speise_id_widget, menge_widget)

# Button zum Hinzufügen weiterer SpeiseID und Mengen
add_button = w.Button(description="Weitere Speise hinzufügen")
add_button.on_click(lambda b: add_speise_widget())

# Funktion zur Bestellungsaufgabe über Widgets
def bestellung_aufgeben(tischnummer, bestellstatus):
    """
    Sammelt die Werte aus allen SpeiseID- und Mengenfeldern, 
    erstellt ein Dictionary und ruft die erzeuge_bestellung Funktion auf

    Args:
      tischnummer (int): Die Tischnummer (DropDown)
      bestellstatus (str): Der Status der Bestellung.
        
    """
    global bestellungen_df

    speise_mengen = {}
    
    for speise_id_widget, menge_widget in zip(speise_widgets, menge_widgets):
        speise_id = speise_id_widget.value
        menge = menge_widget.value
        speise_mengen[speise_id] = menge
    
    bestellungen_df = neue_bestellung(tischnummer, speise_mengen, bestellungen_df, bestellstatus)
    print(bestellungen_df)

# Button zum Auslösen der Bestellung
bestellen_button = w.Button(description="Bestellung aufgeben")
bestellen_button.on_click(lambda b: bestellung_aufgeben(tischnummer_widget.value, bestellstatus_widget.value))

# Widgets anzeigen
display(tischnummer_widget, bestellstatus_widget, add_button, bestellen_button)

Dropdown(description='Tischnummer', options=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15), value=1)

Dropdown(description='Bestellstatus', options=('offen', 'bezahlt', 'storno'), value='offen')

Button(description='Weitere Speise hinzufügen', style=ButtonStyle())

Button(description='Bestellung aufgeben', style=ButtonStyle())

Dropdown(description='SpeiseID:', options=(100, 101, 102, 103, 104, 105, 200, 201, 202, 203, 204, 205, 300, 30…

IntText(value=1, description='Menge:')

Dropdown(description='SpeiseID:', options=(100, 101, 102, 103, 104, 105, 200, 201, 202, 203, 204, 205, 300, 30…

IntText(value=1, description='Menge:')

  BestellID                Datum Tischnummer SpeiseID Menge Status
0         1  2024-06-04 14:27:22           4      103     1  offen
1         1  2024-06-04 14:27:22           4      202     2  offen

Dropdown(description='SpeiseID:', options=(100, 101, 102, 103, 104, 105, 200, 201, 202, 203, 204, 205, 300, 30…

IntText(value=1, description='Menge:')

  BestellID                Datum Tischnummer SpeiseID Menge Status
0         1  2024-06-04 14:27:22           4      103     1  offen
1         1  2024-06-04 14:27:22           4      202     2  offen
2         3  2024-06-04 14:27:39           8      200     1  offen
3         3  2024-06-04 14:27:39           8      101     1  offen
4         3  2024-06-04 14:27:39           8      205     2  offen
  BestellID                Datum Tischnummer SpeiseID Menge Status
0         1  2024-06-04 14:27:22           4      103     1  offen
1         1  2024-06-04 14:27:22           4      202     2  offen
2         3  2024-06-04 14:27:39           8      200     1  offen
3         3  2024-06-04 14:27:39           8      101     1  offen
4         3  2024-06-04 14:27:39           8      205     2  offen
5         6  2024-06-04 14:27:57           8      300     1  offen
6         6  2024-06-04 14:27:57           8      101     0  offen
7         6  2024-06-04 14:27:57           8      205     0  offen

In [118]:
bestellungen_df

  BestellID                Datum Tischnummer SpeiseID Menge Status
0         1  2024-06-04 14:27:22           4      103     1  offen
1         1  2024-06-04 14:27:22           4      202     2  offen
2         3  2024-06-04 14:27:39           8      200     1  offen
3         3  2024-06-04 14:27:39           8      101     1  offen
4         3  2024-06-04 14:27:39           8      205     2  offen
5         6  2024-06-04 14:27:57           8      300     1  offen
6         6  2024-06-04 14:27:57           8      101     0  offen
7         6  2024-06-04 14:27:57           8      205     0  offen

In [108]:
# Funktion Bestellungen zu stornieren
# Bestellstatus aktualisieren aus storno

def bestellung_storno(bestellID, bestellungen_df = bestellungen_df):
    """
    Funktion storniert vorhandene Bestellungen über BestellID

    Args:
        bestellID (int): Eingabe, welche BestellID Storniert werden soll
        bestellungen_df (DataFrame): vorhandenes DataFrame

    Returns:
        Aktualisiertes DataFrame
    """
    bestellungen_df.loc[bestellungen_df["BestellID"] == bestellID, "Status"] = "storno"    
    return bestellungen_df

# Dropdown Widget erstellen
bestell_ID_widget = w.Dropdown(options=bestellungen_df["BestellID"].tolist(),
                               description="BestellID")

# Button Widget erstellen
storno_button = w.Button(description="Stornieren")

# Funktion zur Anzeige Storno Button
def add_storno_widget():
    display(bestell_ID_widget, storno_button)
    
# Funktion zur Aktualisierung des DataFrames
def update_dataframe(b):
        bestellID = bestell_ID_widget.value
        updated_df = bestellung_storno(bestellID)
        display(updated_df)

# Button verknüpfen
storno_button.on_click(update_dataframe)

# Widgets und initiales DataFrame anzeigen
add_storno_widget()

Dropdown(description='BestellID', options=(), value=None)

Button(description='Stornieren', style=ButtonStyle())

In [119]:
# FUNKTION RECHNUNG
# Bezahlfunktion

def brutto_nettorechner(bruttopreis, stueckzahl, mwst=0.19):
    """
    Berechnet den Netto- und Bruttobetrag einer Bestellung.

    Args:
        bruttopreis (float): Der Bruttopreis der Speise.
        stueckzahl (int): Die Anzahl der Speisen.
        mwst (float): Der Mehrwertsteuersatz (Standard ist 19%).

    Returns:
        tuple: Der Bruttopreis, Nettopreis und Mehrwertsteuer.
    """
    gesamt_bruttopreis = bruttopreis * stueckzahl
    nettopreis = gesamt_bruttopreis / (1 + mwst)
    steuerbetrag = gesamt_bruttopreis - nettopreis

    return gesamt_bruttopreis, nettopreis, steuerbetrag

def bestellung_bezahlen(bestellID, bestellungen_df = bestellungen_df, speisekarte=speisekarte):
    """
    Setzt Status einer eingegeben Bestellung auf "bezahlt" 
    und gibt eine Rechnung aus.

    Args:
        bestellung_id (int): Die BestellID.
        bestellungen_df (pandas.DataFrame): Das DataFrame mit allen Bestellungen.
        speisekarte (pandas.DataFrame): Das DataFrame mit der Speisekarte.

    Returns:
        pandas.DataFrame: Das aktualisierte DataFrame mit allen Bestellungen.
        pandas.DataFrame: Rechnung mit BestellID, Datum, 
                            Preisen(Netto, MwSt, Brutto), einzelne Speisen, 
                            Name des Restaurants
    """
    # Status auf "bezahlt" setzten
    bestellungen_df.loc[bestellungen_df["BestellID"] == bestellID, "Status"] = "bezahlt"

    # Filtert die Bestellungen nach der BestellID
    bestellung_details = bestellungen_df[bestellungen_df["BestellID"] == bestellID]

    def berechne_rechnung(x):
        speise_id = x["SpeiseID"]
        menge = x["Menge"]
        bruttopreis = speisekarte.loc[speise_id, "Preis"]
        gesamt_brutto, netto, steuer = brutto_nettorechner(bruttopreis, menge)

        return pd.Series({
            "BestellID": x["BestellID"],
            "Datum": x["Datum"],
            "Tischnummer": x["Tischnummer"],
            "SpeiseID": speise_id,
            "Menge": menge,
            "Bruttopreis": gesamt_brutto,
            "Nettopreis": netto,
            "Steuer": steuer
        })

    # Berechnet die Rechnung für jede Zeile in bestellung_details
    rechnung_df = bestellung_details.apply(berechne_rechnung, axis=1)
    display(rechnung_df)

    return bestellungen_df, rechnung_df

bestellung_bezahlen(6)

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [129]:
# Dataframe abspeichern als csv mit aktuellem Datum

dateiname = "Bestellungen_" + datetime.now().strftime("%Y_%m_%d") + ".csv"
bestellungen_df.to_csv(dateiname, index=False)
print(f"DataFrame wurde unter dem Namen {dateiname} gespeichert.")

DataFrame wurde unter dem Namen Bestellungen_2024_06_04.csv gespeichert.

In [130]:
# Aktuelles DataFrame wieder einlesen

aktuelles_df = pd.read_csv(dateiname)
aktuelles_df

   BestellID                Datum  Tischnummer  SpeiseID  Menge   Status
0          1  2024-06-04 14:27:22            4       103      1    offen
1          1  2024-06-04 14:27:22            4       202      2    offen
2          3  2024-06-04 14:27:39            8       200      1    offen
3          3  2024-06-04 14:27:39            8       101      1    offen
4          3  2024-06-04 14:27:39            8       205      2    offen
5          6  2024-06-04 14:27:57            8       300      1  bezahlt
6          6  2024-06-04 14:27:57            8       101      0  bezahlt
7          6  2024-06-04 14:27:57            8       205      0  bezahlt

In [116]:
# Interface
# widgets
# streamlit, optional